faiss-cpu
fastapi
joblib
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
lime
matplotlib
numpy
openai
pandas
plotly
pydantic
python-dotenv
pypdf
python-multipart
PyYAML
requests
scikit-learn
seaborn
shap
streamlit
uvicorn
xgboost

# development
httpx
pytest
