faiss_cpu==1.11.0
fastapi==0.115.13
imbalanced_learn==0.13.0
imblearn==0.0
joblib==1.4.2
langchain==0.3.25
numpy==2.3.0
openai==1.88.0
pandas==2.3.0
pydantic==2.11.7
PyYAML==6.0.2
Requests==2.32.4
scikit_learn==1.7.0
streamlit==1.37.1
uvicorn==0.34.3
xgboost==3.0.2
